<!DOCTYPE html>
<html>
  <head>
    <title>LeBookShoppe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="c-section c-header">
    <p class = "c-title c-header--name">Le Book Shoppe</p>
  </header>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer class="c-footer c-section">
      <button class="u-float-right c-button c-button--focal c-button--small">Sign in</button>
    </footer>
  </body>
</html>
